@use "variables";
@use "mixins";

.header {
  background-color: variables.$white-color;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 0 15px;

  position: sticky;
  top: 0;
  z-index: 100;

  &__container {
    max-width: variables.$container-width;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: clamp(50px, 15vw, 250px);
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  &__icon {
    width: 72px;
    height: 72px;
    @include mixins.icon-fit;
  }

  &__text {
    color: variables.$orange-primary-color;

    padding: 25px 0;

    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
  }
}

.nav-menu {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
  }

  &__link {
    color: variables.$orange-black;

    &:hover {
      color: variables.$orange-primary-color;
    }
  }
}

.menu-toggle {
  display: none;
  cursor: pointer;
  max-width: 40px;
  max-height: 40px;

  &__icon {
    svg {
      fill: variables.$orange-primary-color;
    }

    @include mixins.icon-fit;
  }
}

@media (max-width: variables.$breakpoint-l) {
  .header {
    padding: 0 50px;
  }

  .nav-menu {
    &__list {
      gap: 30px;
    }
  }
}

@media (max-width: variables.$breakpoint-s) {
  .header {
    &__container {
      gap: 7vw;
    }
  }
}

@media (max-width: variables.$breakpoint-xs) {
  .header {
    &__container {
      gap: 0;
      justify-content: space-between;
    }
  }

  .menu-toggle {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: variables.$white-color;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 0px;
    overflow: hidden;

    &--active {
      max-height: 300px;
    }

    &__list {
      flex-direction: column;
      gap: 0;
      padding: 10px 0;
    }

    &__item {
      width: 100%;
      padding: 10px 15px;
    }
  }
}
