
@use "mixins";
@use "variables";

:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  overflow-y: auto;
  overflow-x: hidden;
}

.landing {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 150px;
  max-width: variables.$container-width;
}

@media (max-width: variables.$breakpoint-l) {
  :host {
    padding: 0 50px;
  }
}

@media (max-width: variables.$breakpoint-m) {
  .landing {
    max-width: calc(100vw - 100px);
  }
}


