@use "variables";
@use "mixins";

.order {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 100px;
  width: 100%;

  &__info {
    flex: 1;
    max-width: 35%;
  }

  &__heading {
    font-size: 35px;
    font-weight: bold;

    color: variables.$orange-secondary-color;
    .cta {
      color: variables.$orange-heading-color;
    }
  }

  &__text {
    color: variables.$orange-secondary-color;
  }

  &__form {
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 15px;
    max-width: 35%;
  }

  &__form-btn {
    min-height: 60px;
    @include mixins.btn-primary;
    background-color: variables.$orange-heading-color;
    color: variables.$dark-text-color;
    &:disabled {
      background-color: variables.$orange-black;
    }
  }

  &__image {
    flex: 1;
    max-width: 30%;
    position: relative;
    height: 350px;
    img {
      margin-top: -50px;
    }
  }
}

.form__input {
  padding: 12px 15px;
  border: 1px solid variables.$orange-secondary-color;
  border-radius: 4px;
  font-size: 1rem;

  &::placeholder {
    color: variables.$orange-input-color;
  }

  &:focus {
    border-color: variables.$orange-primary-color;
    outline: none;
  }
}


@media (max-width: variables.$breakpoint-l) {
  .order {
    gap: 50px;

    &__info {
      max-width: 30%;
    }

    &__form {
      max-width: 30%;
    }
  }
}

@media (max-width: variables.$breakpoint-m) {
  .order {
    
     &__info {
      max-width: 30%;
    }

    &__form {
      max-width: 30%;
    }

    &__image {
      display: flex;
      justify-content: center;
      img {
      margin-top: unset;
        width: 300px;
        height: 300px;
      }
    }
  }
}

@media (max-width: variables.$breakpoint-xs) {
  .order {
    display: flex;
    flex-flow: column;
    &__info {
      max-width: 100%;
    }

    &__form {
      min-width: 70%;
    }
  }
}