@mixin icon-fit {
  svg {
    width: 100%;
    height: 100%;
  }
}

@mixin btn-primary {
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 4px;

  cursor: pointer;
  &:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  }
}