$white-color: #fff;
$border-color: #dfdfdf;
$orange-primary-color: #ffc468;
$orange-secondary-color: #b99150;
$orange-heading-color: #ffaf18;
$orange-input-color: #CBA86E;
$orange-black: #a46b00;

$dark-text-color: #382400;
$dark-secondary-color: #181a1a;
$dark-text-color-1: #020303;

$breakpoint-l: 1440px;
$breakpoint-m: 1200px;
$breakpoint-s: 1024px;
$breakpoint-xs: 768px;

$container-width: 1200px;
