@use "variables";
@use "mixins";

.product-dialog {
  padding: 50px 25px;
  display: flex;
  gap: 10px;

  &__img {
    max-width: 50%;
    img {
      width: 500px;
      height: 500px;
    }
  }

  &__details {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    span {
      font-weight: 600;
      color: variables.$dark-text-color;
    }

    &__name {
      font-size: 45px;
      color: variables.$orange-heading-color;
      font-weight: bold;
    }

    &__ingredients, &__weight, &__calories, &__recipe {
      font-size: larger;
    }
  }
}
