@use 'variables';
@use 'mixins';

.product {
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-flow: column;
  height: 100%;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  &__image {
    text-align: center;
    margin-bottom: 10px;
  }

  &__name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: variables.$dark-text-color;
    margin-bottom: 10px;
  }

  &__ingredients {
    flex-grow: 1;
    color: variables.$dark-secondary-color;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__add-btn {
    @include mixins.btn-primary;
    margin-top: auto;
    background-color: variables.$orange-heading-color;
    color: variables.$dark-text-color-1;
    font-weight: bold;

    &:disabled {
      background-color: variables.$orange-black;
    }

    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
  }
}