@use "variables";
@use "mixins";

.catalog {
  display: flex;
  flex-flow: column;

  &__title {
    text-align: center;
    color: variables.$orange-secondary-color;
    font-weight: bold;
    font-size: 35px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
  }
}
